[submodule "app"]
	path = app
	url = git@github.com:krakenkey/app.git
	branch = main
[submodule "web"]
	path = web
	url = git@github.com:krakenkey/web.git
	branch = main
[submodule "cli"]
	path = cli
	url = git@github.com:krakenkey/cli.git
	branch = main
