[submodule "app"]
	path = app
	url = git@github.com:krakenkey/app.git
	branch = main
[submodule "web"]
	path = web
	url = git@github.com:krakenkey/web.git
	branch = main
[submodule "cli"]
	path = cli
	url = git@github.com:krakenkey/cli.git
	branch = main
[submodule "probe"]
	path = probe
	url = https://github.com/krakenkey/probe.git
	branch = main
[submodule "actions/cert-action"]
	path = actions/cert-action
	url = https://github.com/krakenkey/cert-action.git
	branch = main
[submodule "examples"]
	path = examples
	url = https://github.com/krakenkey/examples.git
